@CHARSET "UTF-8";

/* 상단 네비게이션 목록들  */
.acss {
/*   position: relative;
  margin: 3rem;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 2rem; */
}
.acss::after {
  content: "";
  display: block;
  position: absolute;
}
.acss::before {
  content: "";
  display: block;
  position: absolute;
}

.acss:first-of-type::after {
  left: 50%;
  bottom: -0.5rem;
  width: 0%;
  height: 0.2rem;
  background-color: black;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.acss:first-of-type:hover::after {
  width: 100%;
}






/* 플로팅 메뉴(우하단 최상단 이동버튼) */
.float-button-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 70px;
  width: 70px;
  cursor: pointer;
  z-index: 9999;
}
.open-button {
  position: absolute;
  background: #ffaf66;
  height: 70px;
  width: 70px;
  bottom: 0;
  transform: scale(0.8, 0.8);
  border-radius: 100px;
  z-index: 999;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.open-button:before, .item01:before, .item02:before, .item03:before, .item04:before {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 3.5rem;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}
.open-button:before {
  content: "\f0aa";
  color: white;
}
.item01:before {
  content: "\f013";
}
.item02:before {
  content: "\f0f3";
}
.item03:before {
  content: "\f040";
}
.item04:before {
  content: "\f007";
}
.item01, .item02, .item03, .item04 {
  position: absolute;
  background: #fff;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  bottom: 0;
  transform: scale(0.4, 0.4);
  transition: all 0.3s cubic-bezier(0.68, -0.15, 0.265, 1.15);
}
.item01:hover, .item02:hover, .item03:hover, .item04:hover {
  background: #ff7a00;
}
.float-button-container:hover {
  height: 100%;
}
.float-button-container:hover .open-button {
  transform: scale(1, 1);
}
.float-button-container:hover .item01,
.float-button-container:hover .item02,
.float-button-container:hover .item03,
.float-button-container:hover .item04 {
  transform: scale(0.6, 0.6);
}
.float-button-container:hover .item01 {
  bottom: 90px;
}
.float-button-container:hover .item02 {
  bottom: 160px;
}
.float-button-container:hover .item03 {
  bottom: 230px;
}
.float-button-container:hover .item04 {
  bottom: 300px;
}


/* 검색창 */
.cntr {
  display: table;
  width: 100%;
  height: 100%;
}
.cntr .cntr-innr {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/*** STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 0px 9px 0px 9px;
  border: 3px solid #fff;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
}
.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5.5px;
  top: 14px;/* 21px; */
  background: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 200ms ease;
}
.search.active,
.search:hover {
  width: 200px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
  margin-right: 5px;
}
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: #fff;
  background: transparent;
  outline-width: 0px;
}




/*     


.sm-link{
	--uismLinkDisplay: var(--smLinkDisplay, inline-flex);	
	--uismLinkTextColor: var(--smLinkTextColor);
	--uismLinkTextColorHover: var(--smLinkTextColorHover);	
	
	display: var(--uismLinkDisplay);
	color: var(--uismLinkTextColor);
	position: relative;
	overflow: hidden;
}

a.sm-link{
	text-decoration: none;
}

.sm-link__label{
  display: block;
}

/* sm-link_padding-all */ 

.sm-link_padding-all{
	--uismLinkLineWeight: var(--smLinkLineWeight, 2px);
	--uismLinkLineColor: var(--smLinkLineColor, #000);
	--uismLinkPadding: var(--smLinkPadding, 5px);
	
	padding: var(--uismLinkPadding);
}

.sm-link_padding-all::before, 
.sm-link_padding-all::after{
  width: 100%;
  height: var(--uismLinkLineWeight);
  left: 0;
}

.sm-link_padding-all::before{
  top: 0;
}

.sm-link_padding-all::after{
  bottom: 0;
}

.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  width: var(--uismLinkLineWeight);
  height: 100%;
  top: 0;
}

.sm-link_padding-all .sm-link__label::before{
  left: 0;
}

.sm-link_padding-all .sm-link__label::after{
  right: 0;
}

.sm-link_padding-all::before,
.sm-link_padding-all::after,
.sm-link_padding-all .sm-link__label::before,
.sm-link_padding-all .sm-link__label::after{
  content: "";     
	background-color: var(--uismLinkLineColor);
  position: absolute; 
	opacity: 0;
	
	will-change: transform, opacity;
	transition-property: transform, opacity;
}

.sm-link_padding-all:hover::before,
.sm-link_padding-all:hover::after,
.sm-link_padding-all:hover .sm-link__label::before,
.sm-link_padding-all:hover .sm-link__label::after{
	opacity: 1;
}

/* sm-link_padding-bottom */ 

.sm-link_padding-bottom{
	--uismLinkLineWeight: var(--smLinkLineWeight, 2px);
	--uismLinkLineColor: var(--smLinkLineColor, #000);	
	
	padding-bottom: var(--uismLinkLineWeight);	
	position: relative;
}

.sm-link_padding-bottom::after{
  content: "";
  width: 100%;
  height: var(--uismLinkLineWeight);
	background-color: var(--uismLinkLineColor);
	
  position: absolute;
  left: 0;
  bottom: 0;
}

/* sm-link_bg */ 

.sm-link_bg {
	--uismLinkLineColor: var(--smLinkLineColor, #000);	
	--uismLinkTextColorHover: var(--smLinkTextColorHover, #fff);	
	--uismLinkPadding: var(--smLinkPadding, 5px);
	
	padding: var(--uismLinkPadding);
	transition: color .3s ease-out;
}

.sm-link_bg::before, 
.sm-link_bg::after{
  content: "";
	background-color: var(--uismLinkLineColor);	
  opacity: 0;
  position: absolute;
	
	transition: transform .2s ease-out, opacity .2s ease-out .03s;
}

.sm-link_bg .sm-link__label{
  position: relative;
  z-index: 2;
}

.sm-link_bg:hover::before, 
.sm-link_bg:hover::after{
  opacity: 1;
	transition-duration: .35s, .35s;
	transition-delay: 0s, 0s;
}

.sm-link_bg:hover{
	color: var(--uismLinkTextColorHover);
}

/* sm-link_text */ 

.sm-link_text::before{
  content: attr(data-sm-link-text);
	color: var(--uismLinkTextColorHover);
  position: absolute;
}

.sm-link_text::before, 
.sm-link_text .sm-link__label{
  transition-property: transform;
	transition-timing-function: cubic-bezier(.86, .6, .08, 1.01); 
	transition-duration: .3s;
}

.sm-link_text:hover::before,
.sm-link_text:hover .sm-link__label{
	transition-duration: .4s;
}

/* effect 1 */

.sm-link1::before{
  transform: translate3d(-105%, 0, 0);
}

.sm-link1::after{
  transform: translate3d(105%, 0, 0);
}

.sm-link1 .sm-link__label::before{
  transform: translate3d(0%, -100%, 0);
}

.sm-link1 .sm-link__label::after{
  transform: translate3d(0%, 100%, 0);
}

.sm-link1::before,
.sm-link1::after,
.sm-link1 .sm-link__label::before,
.sm-link1 .sm-link__label::after{
	transition-timing-function: ease-out;
	transition-duration: .2s, .15s;
	transition-delay: 0s, .15s;
}

.sm-link1:hover::before,
.sm-link1:hover::after,
.sm-link1:hover .sm-link__label::before,
.sm-link1:hover .sm-link__label::after{
  transform: translate3d(0, 0, 0);
	opacity: 1;
	
	transition-duration: .25s;
	transition-delay: 0s;
}


/*
SETTINGS
*/

.sm-link{
	--smLinkPadding: 10px 15px;
	--smLinkLineWeight: 5px;
	--smLinkLineColor: #fff373;
	--smLinkTextColor: #fff373;
	--smLinkTextColorHover: #1b255a;
}

.sm-link_bg{
	--smLinkTextColorHover: #fff;
}
     */
    